<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>centerWidgetIDs</key>
	<array>
		<dict>
			<key>widgetID</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>isUp</key>
			<true/>
			<key>widgetID</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>hideSaveConfirmation</key>
	<true/>
	<key>leftWidgetIDs</key>
	<array>
		<dict>
			<key>dateFormat</key>
			<string>eeee-dd-M-y</string>
			<key>widgetID</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>rightWidgetIDs</key>
	<array>
		<dict>
			<key>batteryValueType</key>
			<integer>4</integer>
			<key>widgetID</key>
			<integer>4</integer>
		</dict>
	</array>
	<key>widgetProperties</key>
	<array>
		<dict>
			<key>anchor</key>
			<integer>2</integer>
			<key>autoResizes</key>
			<true/>
			<key>blurDetails</key>
			<dict>
				<key>cornerRadius</key>
				<integer>1</integer>
				<key>hasBlur</key>
				<false/>
			</dict>
			<key>colorDetails</key>
			<dict>
				<key>color</key>
				<data>
				YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hp
				dmVyVCR0b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRB
				cmNoaXZlctEICVRyb290gAGjCwwdVSRudWxs2A0ODxAR
				EhMUFRYXGBkaGxxfEBVVSUNvbG9yQ29tcG9uZW50Q291
				bnRXVUlHcmVlblZVSUJsdWVXVUlBbHBoYVVOU1JHQlYk
				Y2xhc3NVVUlSZWRcTlNDb2xvclNwYWNlEAQiPoCAhSI9
				qKiPIj+AAABOMSAwLjI1MSAwLjA4MjSAAiI/gAAEEALT
				Hh8gISIkWiRjbGFzc25hbWVYJGNsYXNzZXNbJGNsYXNz
				aGludHNXVUlDb2xvcqIhI1hOU09iamVjdKElV05TQ29s
				b3IACAARABoAJAApADIANwBJAEwAUQBTAFcAXQBuAIYA
				jgCVAJ0AowCqALAAvQC/AMQAyQDOAN0A3wDkAOYA7QD4
				AQEBDQEVARgBIQEjAAAAAAAAAgEAAAAAAAAAJgAAAAAA
				AAAAAAAAAAAAASs=
				</data>
				<key>usesCustomColor</key>
				<true/>
			</dict>
			<key>fontSize</key>
			<real>8.5</real>
			<key>offsetX</key>
			<real>25</real>
			<key>offsetY</key>
			<real>-28.699999999999999</real>
			<key>scale</key>
			<real>100</real>
			<key>textAlignment</key>
			<integer>1</integer>
			<key>textBold</key>
			<true/>
			<key>title</key>
			<string>%Pin</string>
			<key>widgetIDs</key>
			<array>
				<dict>
					<key>showPercentage</key>
					<false/>
					<key>widgetID</key>
					<integer>7</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>anchor</key>
			<integer>0</integer>
			<key>autoResizes</key>
			<true/>
			<key>blurDetails</key>
			<dict>
				<key>cornerRadius</key>
				<integer>4</integer>
				<key>hasBlur</key>
				<false/>
			</dict>
			<key>colorDetails</key>
			<dict>
				<key>color</key>
				<data>
				YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hp
				dmVyVCR0b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRB
				cmNoaXZlctEICVRyb290gAGjCwwdVSRudWxs2A0ODxAR
				EhMUFRYXGBkaGxxfEBVVSUNvbG9yQ29tcG9uZW50Q291
				bnRXVUlHcmVlblZVSUJsdWVXVUlBbHBoYVVOU1JHQlYk
				Y2xhc3NVVUlSZWRcTlNDb2xvclNwYWNlEAQiPmkSEiI+
				Py6yIj+AAABNMSAwLjIyOCAwLjE4N4ACIj+ADmAQAtMe
				HyAhIiRaJGNsYXNzbmFtZVgkY2xhc3Nlc1skY2xhc3No
				aW50c1dVSUNvbG9yoiEjWE5TT2JqZWN0oSVXTlNDb2xv
				cgAIABEAGgAkACkAMgA3AEkATABRAFMAVwBdAG4AhgCO
				AJUAnQCjAKoAsAC9AL8AxADJAM4A3ADeAOMA5QDsAPcB
				AAEMARQBFwEgASIAAAAAAAACAQAAAAAAAAAmAAAAAAAA
				AAAAAAAAAAABKg==
				</data>
				<key>usesCustomColor</key>
				<true/>
			</dict>
			<key>fontSize</key>
			<real>26</real>
			<key>offsetX</key>
			<real>21</real>
			<key>offsetY</key>
			<real>-34</real>
			<key>scale</key>
			<real>100</real>
			<key>textAlignment</key>
			<integer>1</integer>
			<key>textBold</key>
			<true/>
			<key>title</key>
			<string>Ngày đỏ</string>
			<key>widgetIDs</key>
			<array>
				<dict>
					<key>dateFormat</key>
					<string>dd</string>
					<key>widgetID</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>anchor</key>
			<integer>0</integer>
			<key>autoResizes</key>
			<true/>
			<key>blurDetails</key>
			<dict>
				<key>cornerRadius</key>
				<integer>4</integer>
				<key>hasBlur</key>
				<false/>
			</dict>
			<key>colorDetails</key>
			<dict>
				<key>color</key>
				<data>
				YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hp
				dmVyVCR0b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRB
				cmNoaXZlctEICVRyb290gAGjCwwdVSRudWxs2A0ODxAR
				EhMUFRYXGBkaGxxfEBVVSUNvbG9yQ29tcG9uZW50Q291
				bnRXVUlHcmVlblZVSUJsdWVXVUlBbHBoYVVOU1JHQlYk
				Y2xhc3NVVUlSZWRcTlNDb2xvclNwYWNlEAQiPsHa4SI/
				fjRZIj+AAABPEBMwLjAwMjg5IDAuMzc5IDAuOTkzgAIi
				Oz06BBAC0x4fICEiJFokY2xhc3NuYW1lWCRjbGFzc2Vz
				WyRjbGFzc2hpbnRzV1VJQ29sb3KiISNYTlNPYmplY3Sh
				JVdOU0NvbG9yAAgAEQAaACQAKQAyADcASQBMAFEAUwBX
				AF0AbgCGAI4AlQCdAKMAqgCwAL0AvwDEAMkAzgDkAOYA
				6wDtAPQA/wEIARQBHAEfASgBKgAAAAAAAAIBAAAAAAAA
				ACYAAAAAAAAAAAAAAAAAAAEy
				</data>
				<key>usesCustomColor</key>
				<true/>
			</dict>
			<key>fontSize</key>
			<real>8</real>
			<key>offsetX</key>
			<real>55</real>
			<key>offsetY</key>
			<real>-40</real>
			<key>scale</key>
			<real>100</real>
			<key>textAlignment</key>
			<integer>1</integer>
			<key>textBold</key>
			<true/>
			<key>title</key>
			<string>Thứ</string>
			<key>widgetIDs</key>
			<array>
				<dict>
					<key>dateFormat</key>
					<string>cccc</string>
					<key>widgetID</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>anchor</key>
			<integer>0</integer>
			<key>autoResizes</key>
			<true/>
			<key>blurDetails</key>
			<dict>
				<key>cornerRadius</key>
				<integer>4</integer>
				<key>hasBlur</key>
				<false/>
			</dict>
			<key>colorDetails</key>
			<dict>
				<key>color</key>
				<data>
				YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hp
				dmVyVCR0b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRB
				cmNoaXZlctEICVRyb290gAGjCwwdVSRudWxs2A0ODxAR
				EhMUFRYXGBkaGxxfEBVVSUNvbG9yQ29tcG9uZW50Q291
				bnRXVUlHcmVlblZVSUJsdWVXVUlBbHBoYVVOU1JHQlYk
				Y2xhc3NVVUlSZWRcTlNDb2xvclNwYWNlEAQiPsHa4SI/
				fjRZIj+AAABPEBMwLjAwMjg5IDAuMzc5IDAuOTkzgAIi
				Oz06BBAC0x4fICEiJFokY2xhc3NuYW1lWCRjbGFzc2Vz
				WyRjbGFzc2hpbnRzV1VJQ29sb3KiISNYTlNPYmplY3Sh
				JVdOU0NvbG9yAAgAEQAaACQAKQAyADcASQBMAFEAUwBX
				AF0AbgCGAI4AlQCdAKMAqgCwAL0AvwDEAMkAzgDkAOYA
				6wDtAPQA/wEIARQBHAEfASgBKgAAAAAAAAIBAAAAAAAA
				ACYAAAAAAAAAAAAAAAAAAAEy
				</data>
				<key>usesCustomColor</key>
				<true/>
			</dict>
			<key>fontSize</key>
			<real>9</real>
			<key>offsetX</key>
			<real>55</real>
			<key>offsetY</key>
			<real>-29</real>
			<key>scale</key>
			<real>100</real>
			<key>textAlignment</key>
			<integer>1</integer>
			<key>textBold</key>
			<true/>
			<key>title</key>
			<string>Đồng hồ số</string>
			<key>widgetIDs</key>
			<array>
				<dict>
					<key>dateFormat</key>
					<string>HH:mm:ss</string>
					<key>widgetID</key>
					<integer>5</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>anchor</key>
			<integer>1</integer>
			<key>autoResizes</key>
			<true/>
			<key>blurDetails</key>
			<dict>
				<key>cornerRadius</key>
				<integer>4</integer>
				<key>hasBlur</key>
				<false/>
			</dict>
			<key>colorDetails</key>
			<dict>
				<key>color</key>
				<data>
				YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hp
				dmVyVCR0b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRB
				cmNoaXZlctEICVRyb290gAGjCwwdVSRudWxs2A0ODxAR
				EhMUFRYXGBkaGxxfEBVVSUNvbG9yQ29tcG9uZW50Q291
				bnRXVUlHcmVlblZVSUJsdWVXVUlBbHBoYVVOU1JHQlYk
				Y2xhc3NVVUlSZWRcTlNDb2xvclNwYWNlEAQiPoSEhyI/
				KamqIj+AAABPEBUtMS4wNGUtMDYgMC4yNTkgMC42NjOA
				AiK1i+ngEALTHh8gISIkWiRjbGFzc25hbWVYJGNsYXNz
				ZXNbJGNsYXNzaGludHNXVUlDb2xvcqIhI1hOU09iamVj
				dKElV05TQ29sb3IACAARABoAJAApADIANwBJAEwAUQBT
				AFcAXQBuAIYAjgCVAJ0AowCqALAAvQC/AMQAyQDOAOYA
				6ADtAO8A9gEBAQoBFgEeASEBKgEsAAAAAAAAAgEAAAAA
				AAAAJgAAAAAAAAAAAAAAAAAAATQ=
				</data>
				<key>usesCustomColor</key>
				<true/>
			</dict>
			<key>fontSize</key>
			<real>10</real>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>-10</real>
			<key>scale</key>
			<real>100</real>
			<key>textAlignment</key>
			<integer>1</integer>
			<key>textBold</key>
			<false/>
			<key>title</key>
			<string>tốc độ mạng</string>
			<key>widgetIDs</key>
			<array/>
		</dict>
		<dict>
			<key>anchor</key>
			<integer>2</integer>
			<key>autoResizes</key>
			<true/>
			<key>blurDetails</key>
			<dict>
				<key>cornerRadius</key>
				<integer>4</integer>
				<key>hasBlur</key>
				<false/>
			</dict>
			<key>colorDetails</key>
			<dict>
				<key>color</key>
				<data>
				YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hp
				dmVyVCR0b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRB
				cmNoaXZlctEICVRyb290gAGkCwwaG1UkbnVsbNcNDg8Q
				ERITFBUVFhcYGV8QFVVJQ29sb3JDb21wb25lbnRDb3Vu
				dFdVSVdoaXRlV1VJQWxwaGFWJGNsYXNzXxARVUlTeXN0
				ZW1Db2xvck5hbWVXTlNXaGl0ZVxOU0NvbG9yU3BhY2UQ
				AiI/gAAAgAOAAkExEARad2hpdGVDb2xvctMcHR4fICJa
				JGNsYXNzbmFtZVgkY2xhc3Nlc1skY2xhc3NoaW50c1dV
				SUNvbG9yoh8hWE5TT2JqZWN0oSNXTlNDb2xvcgAIABEA
				GgAkACkAMgA3AEkATABRAFMAWABeAG0AhQCNAJUAnACw
				ALgAxQDHAMwAzgDQANIA1ADfAOYA8QD6AQYBDgERARoB
				HAAAAAAAAAIBAAAAAAAAACQAAAAAAAAAAAAAAAAAAAEk
				</data>
				<key>usesCustomColor</key>
				<false/>
			</dict>
			<key>fontSize</key>
			<real>12</real>
			<key>offsetX</key>
			<real>48</real>
			<key>offsetY</key>
			<real>-42</real>
			<key>scale</key>
			<real>100</real>
			<key>textAlignment</key>
			<integer>1</integer>
			<key>textBold</key>
			<false/>
			<key>title</key>
			<string>Gấu con</string>
			<key>widgetIDs</key>
			<array>
				<dict>
					<key>text</key>
					<string>🧸</string>
					<key>widgetID</key>
					<integer>6</integer>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
